/* Webfont: OpticianSans-Regular */@font-face {
    font-family: 'OpticianSans';
    src: url('../resources/fonts/Optiker-K.woff2') format('woff2'), /* Modern Browsers */
         url('../resources/fonts/Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
html {
  overflow: hidden;
}

body {
  background-image: url('../resources/img/Pattern_WEB_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'OpticianSans', sans-serif;
  color: black;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #363636;
}

.step {
  width: 413px;
  height: 57px;
  border: 4px solid black;
  border-width: 0px 4px 4px 4px;
  position: relative;
  text-align: center;
}

.row{
  width: 100%;
  align-items: center;
}


.logo-wrap {
  position: relative;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  animation: ladder-up 5s cubic-bezier(0.215, 0.610, 0.420, 0.855) infinite;
}

.logo-outer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  top: 0%;
  -webkit-clip-path: inset(200px 0px calc(100vh - 481px) 0px);
  clip-path: inset(200px 0px calc(100vh - 481px) 0px);
  height: 100vh;
  display: none;
}

.img-no-support {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.img-no-support img {
  width: 550px;
}

@supports(-webkit-clip-path: inset(200px 0px 200px 0px)) or (clip-path: inset(200px 0px 200px 0px)) {
  .logo-outer {
    display: block;
  }

  .img-no-support {
    display: none;
  }

}

.text-lg {
  font-size: 32.6px;
  padding-top: 3px;
}

.text-sm {
  font-size: 29px;
  padding-top: 15px;
}

.bottom {
  padding-top: 0px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom span {
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: calc(25% + 281px);
  width: 100%;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.overlay-top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25%;
  z-index: 2;
}

#mc_embed_signup {
  background-color: transparent !important;
  font: inherit !important;
}

#mc_embed_signup input.email {
  font-family: inherit !important;
}

#subscription-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.btn-primary {
  border-radius: 0;
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: black;
}

input {
  background-color: #262626;
  color: white;
  border-radius: 0px;
  border: none;
  padding: 5px 10px;
}

@keyframes ladder-up {
  0% {
    top: 200px;
  }
  4% {
    top: 250px;
  }
  45% {
    top: calc(200px - 456px);
  }
  50% {
    top: calc(200px - 456px);
  }
  54% {
    top: calc(200px - 416px);
  }
  95% {
    top: calc(200px - 912px);
  }
  100% {
    top: calc(200px - 912px);
  }
}

@keyframes ladder-up-2 {
  0% {
    top: 100px;
  }
  4% {
    top: 150px;
  }
  45% {
    top: calc(100px - 912px);
  }
  50% {
    top: calc(100px - 912px);
  }
  54% {
    top: calc(100px - 862px);
  }
  95% {
    top: calc(100px - 1824px);
  }
  100% {
    top: calc(100px - 1824px);
  }
}

@keyframes ladder-up-3 {
  0% {
    top: 200px;
  }
  4% {
    top: 250px;
  }
  45% {
    top: calc(200px - 352px);
  }
  50% {
    top: calc(200px - 352px);
  }
  54% {
    top: calc(200px - 302px);
  }
  95% {
    top: calc(200px - 696px);
  }
  100% {
    top: calc(200px - 696px);
  }
}

@keyframes ladder-up-4 {
  0% {
    top: 50px;
  }
  4% {
    top: 100px;
  }
  45% {
    top: calc(50px - 352px);
  }
  50% {
    top: calc(50px - 352px);
  }
  54% {
    top: calc(50px - 302px);
  }
  95% {
    top: calc(50px - 696px);
  }
  100% {
    top: calc(50px - 696px);
  }
}

@media (max-width: 320px) {
  .logo-wrap {
    top: 50px;
    animation-name: ladder-up-4;
  }
  .logo-outer {
    -webkit-clip-path: inset(50px 0px calc(100vh - 270.75px) 0px);
    clip-path: inset(50px 0px calc(100vh - 270.75px) 0px);
  }
}

@media (max-width: 576px) {
  .img-no-support img {
    width: 300px;
  }
  input {
    width: 210px;
  }

  h4 {
    font-size: 1.3rem;
  }

  .step {
    width: 309.75px;
    height: 42.75px;
  }

  .text-sm {
    font-size: 21.75px;
    padding-top: 10px;
  }

  .text-lg {
    font-size: 24.45px;
  }
  .overlay {
    top: auto;
  }


  .overlay-top {
    height: calc(25% + 2px);
  }
}

@media (min-width:321px) and (max-width: 576px) {
  .logo-wrap {
    top: 200px;
    animation-name: ladder-up-3;
  }

  .logo-outer {
    -webkit-clip-path: inset(201px 0px calc(100vh - 420.75px) 0px);
    clip-path: inset(201px 0px calc(100vh - 420.75px) 0px);
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url('../resources/img/Pattern_WEB_DESKTOP.jpg');
  }

  .img-no-support img {
    width: 800px;
  }

  .overlay-top {
    height: 10%;
  }
  .step {
    width: 826px;
    height: 114px;
    border-width: 0px 8px 8px 8px;
  }

  .text-lg {
    font-size: 65.2px;
  }

  .text-sm {
    font-size: 58px;
  }

  .overlay {
    top: calc(10% + 560px);
  }

  .logo-outer {
    -webkit-clip-path: inset(100px 0px calc(100vh - 662px) 0px);
    clip-path: inset(100px 0px calc(100vh - 662px) 0px);
  }

  .logo-wrap {
    top: 100px;
    animation-name: ladder-up-2;
  }
}
